
body{
    background-color: rgb(255, 255, 255);
    padding: 20%;
    display: flex;
    justify-content: center;
    align-items:center;


}
div{
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(135, 135, 172);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

button{
    font-size: 20px;
    width: 100px;
    height: 100px;
    background-color: cadetblue;
}

