
body{
    background-color: rgb(255, 255, 255);
    padding: 20%;
    display: flex;
    justify-content: center;
    align-items:center;


}

button{
 background-color: rgb(255, 255, 255);   
 width: 100px;
 height: 100px;
 font-size: large;

}