

div {
    padding: 15px 25px;
    font-size: 18px;
    background-color: rgb(100, 100, 150);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

}